.heading{
    font-size: 23px;
    margin: 0px;
    width: 100%;
    box-shadow: 5px 5px 5px grey;
}

.note{
    color: black;
    font-size: 15px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}

.footer{
    position: fixed;
    bottom: 0;
    background-color: #a8bbff;
    width: 100%;
    color: black;
    text-align: center;
    line-height: 2;
    font-size: 18px;
    font-family: 'Sedgwick Ave', cursive;
}

canvas{
    border-radius: 12px;
    border: 5px solid white;
    box-shadow: 5px 5px 5px grey;
}

body{
    background-color: azure;
}